.h2-header {
    font-family: 'SF Pro Display Bold';
    font-weight: 700;
    @include adaptiveValue("font-size", 42, 24);
    @include adaptiveValue("line-height", 52, 26);
    color: $whiteColor;
}